[tool.poetry]
name = "presto-requests"
version = "0.3.7"
description = ""
authors = ["Phillip Sitbon <phillip.sitbon@gmail.com>"]
readme = "README.md"

packages = [
  { include = "presto" }
]

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.1"
attrdict3 = "^2.0.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
